.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: rgb(209, 200, 250);
  height: 100vh;
}

.header {
  background: rgb(31, 14, 109);
  color: white;
  display: flex;
  flex-basis: 65%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
}
